

body {

    background-image:url("/bridge.jpeg");
  }

.map {
   margin-top:0%;
}

.sign {
  border: 5px solid #2E4A62;
  background:#EADEDB;
  margin: 5px;
  width: 500px;
  margin-left: 55%;
  margin-top: 10%;
  height:150px;
}

.spot {
  color: #DC4C46;
  text-shadow: 4px 2px #BFD641;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}

h3 {
  font-family: 'Lato', sans-serif;
  color:  #EC9787;
  margin:5px;
  text-shadow: 4px 2px #BFD641;

}

h4 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color:  #6B5B95;
  text-shadow: 1px 2px #BFD641;
  text-spacing: 20px;
}



h2 {
  font-family: 'Jaldi', sans-serif;
  text-align: left;
  margin-left: 5%;
  border-radius: 1px;
  color:  #EC9787;
  text-shadow: 2px 2px #BFD641;
}

.trip {
  border: 5px solid #2E4A62;
  background:#EADEDB;
  margin: 5px;
  width: 500px;
}
.navbar {
 display: flex;
 justify-content: flex-end;
 width: 100%;
 background-color: ##6F9FD8;

}
.navbar a {
 display: flex;
 font-family:'Jaldi', sans-serif;
 /* align-items: space-between; */
 float: inherit;
 padding: 1px;
 height:2px;
 color:  #DBB1CD;
 text-decoration: overline;
 font-size: 27px;
 /* justify-content: space-around */
}
.navbar a:hover {
  color: #BC70A4;
  text-shadow: 4px 2px #BFD641;
 /* background-color: #BFD641;
 opacity: .5; */
}
.active {
 background-color: #;
}

.filter {
  display: inline-block;
  margin:;
  margin-left: 54%;
  margin-top: 5%;
  height: 120px;
  width: 500px;
  /* border-radius: 14px; */
  border: 5px solid #2E4A62;
  background:#DFCFBE;
  font-family: 'Jaldi', sans-serif;
  text-align: center;

}

span {
  font-size:20px;
}

span:hover {
   text-shadow: 4px 4px #E94B3C;
   cursor: pointer;
}

span:visited {
  background: green;
}

.filter {
  color:#BC70A4;
  letter-spacing: 5px;
}

.camera {
  margin-left: 64%;
  margin-top: 40%;

}

.picture {
  border:none;
  margin-left: 100%;
}

.sort {
  letter-spacing: 5px;
  word-spacing: 5px;
  margin:3px;
  font-size: 20px;
}


.favorite {
  margin-left: 1%;
  border-radius: 14px;
  border: 2px solid #6F9FD8;
  background:#BFD641;
  width: 600 px;

}

.name {
  margin-left: 50%;

  font-family: 'Lato', sans-serif;
  color:  #6B5B95;
  text-shadow: 1px 2px #BFD641;


}


.flex-container  {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
   float: right;



}

.flex-item {
  margin-left: 60%;
  position: relative;
  background:#EADEDB;
  /* padding: 5px; */
  padding-bottom: 6%;
  width: 250px;
  height: 20px;
  margin-top: 1px;
  margin-left:8%;
  margin-bottom:10px;
  /* border-radius: 14px; */
  border: 2px solid #3F69AA;

  line-height: 15px;
  color: #004B8D;
  font-weight: normal;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;


}



h1 {
  font-family: 'Jaldi', sans-serif;
  text-align: justify;
  border-radius: 1px;
  color: #DC4C46;
  text-shadow: 4px 2px #BFD641;
  padding:1%;
  text-border: 10px black;

  margin-top:40%;
  letter-spacing: 15px;

}

h1 a:hover {
  text-decoration: underline;

  color:  #6B5B95;
}

h1 a{
   color: #DC4C46;

}

.nav-link {
  font-family: sans-serif;
  font-size: 20px;
  color: gold;

}



#cf img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: 5%;
  margin-right: 30%;
  margin-top: 1%;
  margin-bottom: 5%;

    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
/* if you only want to cycle a finite amount of times,
   simply change 'infinite' with # of iterations you need */
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate; /* not strictly necessary */
    position:absolute;
}

#cf img:nth-of-type(1) {
    animation-delay: 5s;
}

#cf img:nth-of-type(2) {
    animation-delay: 4s;
}

#cf img:nth-of-type(3) {
    /* add some delay for the first picture as well */
    animation-delay: 2s;
}

@keyframes cf3FadeInOut {
    /* distributing times evenly */
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
