
body {

   background-image: url("https://ephemeralnewyork.files.wordpress.com/2011/05/1939indsecondsystemmap.jpg");
}






h1 {
  font-family: 'Jaldi', sans-serif;
  text-align: center;
  color:blue gray;
  text-shadow: 4px 2px #42d1f5;
  margin-top: 10%;
  padding:10px;
  border: 10px black;
  margin: 35px;
  letter-spacing: 15px;
}

.nav-link {
  font-family: sans-serif;
  font-size: 20px;
  color: gold;

}



#cf img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;

    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
/* if you only want to cycle a finite amount of times,
   simply change 'infinite' with # of iterations you need */
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate; /* not strictly necessary */
    position:absolute;
}

#cf img:nth-of-type(1) {
    animation-delay: 6s;
}

#cf img:nth-of-type(2) {
    animation-delay: 4s;
}

#cf img:nth-of-type(3) {
    /* add some delay for the first picture as well */
    animation-delay: 2s;
}

@keyframes cf3FadeInOut {
    /* distributing times evenly */
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
